<%#
# 
%>
<div id="header">
	<div class="content">
    <a href="/"><img src="/images/leaf.png" alt="innboo.com" align="middle" border="0"/></a>
    <h1 style="margin-left:76px;margin-top:-40px;">"inn<span style="color:#cc6600;">boo</span></h1>
    <div class="index_login">
      <%= render :partial=>"/users/user_bar" %>
	</div>
    </div>
</div>
